# Benchmark results
# bench-results/

# Temp/log files
*.log
*.tmp
*.err
*.pprof
*.out

# Cache
.cache/

# Database
*.db

# OS files
Thumbs.db
.DS_Store

# IDE
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

data/
*.db


#Ignore vscode AI rules
.github/instructions/codacy.instructions.md
